body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ↓ targets the intermediary wrapper */
.with-sidebar > * {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}

.with-sidebar > * > * {
  /* ↓ applies to both elements */
  margin: 0.5rem;
}

.sidebar {
  flex-basis: 15rem;
  flex-grow: 100;
}

.not-sidebar {
  /* ↓ grow from nothing */
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(60% - 1rem);
}